/** {
  border: 1px solid red !important;
}*/
html,body {
  height: 100%;
}

.container {
  position: relative;
  min-height: 100%;
}

main {
  text-align: center;
}

header {
  text-align: center;
}

.menu {
  text-align: center;
}

#hero-image {
  background: url(../images/First_Step.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

#blog-container {
  text-align: center;
}

#blog-contents {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url("../images/sayagata-400px.png");
}

.button {
  color: white;
}

.textwrap {
  float: left;
  margin: 10px;
}

#wf_mob_index {
  TOP:35px;
  LEFT:170px;
  WIDTH:300px;
  HEIGHT:400px;
}

#wf_desk_index {
  TOP:35px;
  LEFT:170px;
  WIDTH:300px;
  HEIGHT:400px;
}

#wf_mob_blog {
  TOP:35px;
  LEFT:170px;
  WIDTH:300px;
  HEIGHT:400px;
}

#wf_desk_blog {
  TOP:35px;
  LEFT:170px;
  WIDTH:300px;
  HEIGHT:400px;
}

h6 {
  font-weight: bold;
}

h6 {
  margin-top: 10px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

.main-link {
  color: white;
}

footer {
  color: white;
  position: absolute;
  bottom: 0;
}

#blog-footer {
  color: black;
}
