* {
  border: 1px solid red !important;
}
/** {
  background-image: url("../images/sayagata-400px.png");
}*/

html,body {
  height: 100%;
}

.container {
  position: relative;
  min-height: 100%;
}

main {
  text-align: center;
}

header {
  text-align: center;
}

.menu {
  text-align: center;
}

#hero-image {
  background: url(../images/First_Step.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}
/*#background {
  background: url(../images/sayagata-400px.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}*/
#blog-container {
  color: white;
}

h5, h6 {
  margin-bottom: 0px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
}

footer {
  color: white;
  position: absolute;
  bottom: 0;
}

#blog-footer {
  color: black;
}
